Repository jwallace145/rusty-chess: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-audit

cargo-check:
  name: cargo check
  description: Check Rust code compiles
  entry: cargo check
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust unit tests
  entry: cargo test
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Check for known security vulnerabilities
  entry: bash -c 'cargo audit 2>/dev/null || true'
  language: system
  pass_filenames: false
  stages:
  - commit

fix(releases): Create release for Apple ARM devices
  .github/workflows/upload_binaries.yml
  Cargo.lock
Due: cargo-audit

fix(releases): Create release for Apple ARM devices (#22)
  .github/workflows/upload_binaries.yml
  Cargo.lock
Due: cargo-audit

chore(release): 1.4.7 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  03da6255a19b3dcc7a8512d7094b30bc026b5fc5
Due: none

fix(releases): Use latest MocOS runners for binary builds
  .github/workflows/upload_binaries.yml
  Cargo.lock
Due: cargo-audit

fix(releases): Use latest MocOS runners for binary builds (#23)
  .github/workflows/upload_binaries.yml
  Cargo.lock
Due: cargo-audit

Notes added by 'git notes add'
  95294eab69e160c3afe681ac35f59b4966e02d3f
Due: none

chore(release): 1.4.8 [skip ci]
  CHANGELOG.md
Due: none

ci(pull-requests): Add code coverage with CodeCov to PRs
  .github/workflows/ai_code_review.yml
  .github/workflows/pr_code_coverage.yml
  .github/workflows/pr_status_checks.yml
  .github/workflows/semantic_release.yml
  .github/workflows/sync_cargo_toml.yml
  .github/workflows/upload_binaries.yml
  Cargo.lock
  Cargo.toml
  benches/evaluators.rs
  src/board/accessors.rs
  src/board/attacks.rs
  src/board/board.rs
  src/board/init.rs
  src/board/mod.rs
  src/board/model.rs
  src/board/moves.rs
  src/board/tests.rs
  src/engine/game.rs
  src/eval/bishop_pair.rs
  src/eval/evaluation_scores.rs
  src/eval/evaluator.rs
  src/eval/forcing_moves.rs
  src/eval/king_safety.rs
  src/eval/mod.rs
  src/eval/threat.rs
  src/minimax/mod.rs
  src/minimax/search.rs
  src/opening/colle_system.rs
  src/opening/london_system.rs
  src/opening/mod.rs
  src/search/minimax.rs
  src/terminal/instructions.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test, cargo-audit

ci(pull-requests): Add code coverage with CodeCov to PRs (#24)
  .github/workflows/ai_code_review.yml
  .github/workflows/pr_code_coverage.yml
  .github/workflows/pr_status_checks.yml
  .github/workflows/semantic_release.yml
  .github/workflows/sync_cargo_toml.yml
  .github/workflows/upload_binaries.yml
  Cargo.lock
  Cargo.toml
  benches/evaluators.rs
  src/board/accessors.rs
  src/board/attacks.rs
  src/board/board.rs
  src/board/init.rs
  src/board/mod.rs
  src/board/model.rs
  src/board/moves.rs
  src/board/tests.rs
  src/engine/game.rs
  src/eval/bishop_pair.rs
  src/eval/evaluation_scores.rs
  src/eval/evaluator.rs
  src/eval/forcing_moves.rs
  src/eval/king_safety.rs
  src/eval/mod.rs
  src/eval/threat.rs
  src/minimax/mod.rs
  src/minimax/search.rs
  src/opening/colle_system.rs
  src/opening/london_system.rs
  src/opening/mod.rs
  src/search/minimax.rs
  src/terminal/instructions.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test, cargo-audit

refactor(unit-tests): Add unit tests for accessor methods for Board struct
  src/board/accessors.rs
Due: cargo-check, cargo-test

refactor(unit-tests): Add unit tests for accessor methods for Board struct (#25)
  src/board/accessors.rs
Due: cargo-check, cargo-test

feat(board): Reduce memory footprint of ChessMove struct as an encoded 8 byte integer
  src/bin/debug_search.rs
  src/bin/find_best_move.rs
  src/board/castling.rs
  src/board/castling/castling_rights.rs
  src/board/castling/mod.rs
  src/board/chess_move.rs
  src/board/mod.rs
  src/board/moves/make_move.rs
  src/board/moves/mod.rs
  src/board/tests.rs
  src/engine/game.rs
  src/fen/parser.rs
  src/fen/utils.rs
  src/movegen/generator.rs
  src/opening/opening_book.rs
  src/opening/utils.rs
  src/search/minimax.rs
  src/search/quiescence.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test

feat(board): Reduce memory footprint of ChessMove struct
  src/bin/debug_search.rs
  src/bin/find_best_move.rs
  src/board/castling.rs
  src/board/castling/castling_rights.rs
  src/board/castling/mod.rs
  src/board/chess_move.rs
  src/board/mod.rs
  src/board/moves/make_move.rs
  src/board/moves/mod.rs
  src/board/tests.rs
  src/engine/game.rs
  src/fen/parser.rs
  src/fen/utils.rs
  src/movegen/generator.rs
  src/opening/opening_book.rs
  src/opening/utils.rs
  src/search/minimax.rs
  src/search/quiescence.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test

feat(board): Reduce memory footprint of ChessMove struct (#26)
  src/bin/debug_search.rs
  src/bin/find_best_move.rs
  src/board/castling.rs
  src/board/castling/castling_rights.rs
  src/board/castling/mod.rs
  src/board/chess_move.rs
  src/board/mod.rs
  src/board/moves/make_move.rs
  src/board/moves/mod.rs
  src/board/tests.rs
  src/engine/game.rs
  src/fen/parser.rs
  src/fen/utils.rs
  src/movegen/generator.rs
  src/opening/opening_book.rs
  src/opening/utils.rs
  src/search/minimax.rs
  src/search/quiescence.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1a0010e1fd29c193a9f8f6c3745b2c38c599e25f
Due: none

feat(releases): Add workflow to automatically update Homebrew tap for new releases
  .github/workflows/update-homebrew-tap.yml
  .gitignore
  Cargo.lock
Due: cargo-audit

feat(releases): Add workflow to automatically update Homebrew tap for new releases (#27)
  .github/workflows/update-homebrew-tap.yml
  .gitignore
  Cargo.lock
Due: cargo-audit

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e0016d66f31d680a758ad9e501027d8a25c1ae9a
Due: none

fix(releases): Add required files to release artifacts
  .github/workflows/update_homebrew_tap.yml
  .github/workflows/upload_binaries.yml
  Cargo.lock
  src/terminal/introduction.rs
Due: cargo-check, cargo-test, cargo-audit

fix(releases): Add required files to release artifacts (#28)
  .github/workflows/update_homebrew_tap.yml
  .github/workflows/upload_binaries.yml
  Cargo.lock
  src/terminal/introduction.rs
Due: cargo-check, cargo-test, cargo-audit

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f4cb2d9322ac83f11668c2e50df7881dd84e706b
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
