Repository jwallace145/rusty-chess: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for rusty-chess
# See https://pre-commit.com for more information

repos:
  # Rust formatting
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Format code with rustfmt
      - id: fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        args: ['--all', '--', '--check']

      # Lint with clippy
      - id: clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

  # Additional Rust checks using local hooks
  - repo: local
    hooks:
      # Run cargo check for compilation errors
      - id: cargo-check
        name: cargo check
        description: Check Rust code compiles
        entry: cargo check
        language: system
        pass_filenames: false
        files: \.rs$

      # Run unit tests
      - id: cargo-test
        name: cargo test
        description: Run Rust unit tests
        entry: cargo test
        language: system
        pass_filenames: false
        files: \.rs$

      # Check for security vulnerabilities in dependencies
      - id: cargo-audit
        name: cargo audit
        description: Check for known security vulnerabilities
        entry: bash -c 'cargo audit 2>/dev/null || true'
        language: system
        pass_filenames: false
        files: Cargo\.(toml|lock)$
        stages: [commit]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Prevent committing large files
      - id: check-added-large-files
        args:
          - '--maxkb=500'

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check YAML syntax
      - id: check-yaml

      # Check TOML syntax (for Cargo.toml)
      - id: check-toml

      # Trim trailing whitespace
      - id: trailing-whitespace
        args:
          - '--markdown-linebreak-ext=md'

      # Ensure files end with newline
      - id: end-of-file-fixer

      # Check for files that would conflict on case-insensitive filesystems
      - id: check-case-conflict

# Configuration
default_stages: [commit]
fail_fast: false

feat: add enemy attack pressure to king safety evaluation
  Cargo.toml
  src/bin/find_best_move.rs
  src/board/board2.rs
  src/eval/king_safety.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add line pressure evaluator
  src/eval/evaluator.rs
  src/eval/line_pressure.rs
  src/eval/mod.rs
Due: cargo-check, cargo-test

feat: add fork evaluator
  src/eval/evaluator.rs
  src/eval/fork.rs
  src/eval/mod.rs
  src/eval/threat.rs
Due: cargo-check, cargo-test

feat: add board evaluation cli tool
  src/bin/evaluate_board.rs
  src/eval/mod.rs
Due: cargo-check, cargo-test

feat: add quiescence search
  src/search/minimax.rs
  src/search/mod.rs
  src/search/quiescence.rs
Due: cargo-check, cargo-test

feat: add fen board ouptut to ai game
  src/board/board2.rs
  src/main.rs
Due: cargo-check, cargo-test

feat: tone down king safety weighting
  src/eval/king_safety.rs
Due: cargo-check, cargo-test

feat: add static exchange evaluation to threat evaluator
  src/eval/threat.rs
  src/main.rs
Due: cargo-check, cargo-test

feat: add options for displaying performance insights
  src/main.rs
  src/opening/london_system.rs
  src/opening/mod.rs
  src/opening/utils.rs
  src/search/engine.rs
Due: cargo-check, cargo-test

feat: add changelog automation
  .github/workflows/release.yml
Due: none

feat: add changelog automation (attempt 2)
  release.config.js
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  cdbf3ea1ba4e2f781c0d8fb6cc196b248da51ca3
Due: none

feat: update release automation bot
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0201854643a5d7270d94e3a45dbda7eb719aa3b8
Due: none

refactor(game): Organized player vs. engine game executable
  .pre-commit-config.yaml
  =
  Cargo.toml
  src/bin/player_vs_engine_game.rs
  src/bin/test_engine_with_book.rs
  src/bin/test_opening_book.rs
  src/bin/two_player_chess.rs
  src/engine/game.rs
  src/engine/mod.rs
  src/game.rs
  src/lib.rs
  src/terminal/instructions.rs
  src/terminal/introduction.rs
  src/terminal/mod.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test, cargo-audit

refactor(game): Organized player vs. engine game executable (#1)
  .pre-commit-config.yaml
  =
  Cargo.toml
  src/bin/player_vs_engine_game.rs
  src/bin/test_engine_with_book.rs
  src/bin/test_opening_book.rs
  src/bin/two_player_chess.rs
  src/engine/game.rs
  src/engine/mod.rs
  src/game.rs
  src/lib.rs
  src/terminal/instructions.rs
  src/terminal/introduction.rs
  src/terminal/mod.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test, cargo-audit

ci(pull-requests): Add AI code reviews with CodeRabbit and OpenAI
  .github/workflows/ai_code_review.yml
Due: none

ci(pull-requests): Add AI code reviews with CodeRabbit and OpenAI (#2)
  .github/workflows/ai_code_review.yml
Due: none

ci(pull-requests): Add PR status checks
  .github/workflows/pr_status_checks.yml
Due: none

ci(linting): Fix some linting errors
  src/bin/debug_search.rs
Due: cargo-check, cargo-test

ci(pull-requests): Update CodeRabbit AI reviews to only have read permissions
  .github/workflows/pr_status_checks.yml
Due: none

ci(pull-requests): Only install cargo-audit for PR status checks if nonexistent
  .github/workflows/pr_status_checks.yml
Due: none

ci(pull-requests): Add PR status checks (#3)
  .github/workflows/pr_status_checks.yml
  src/bin/debug_search.rs
Due: cargo-check, cargo-test

feat(engine): Allow player to optionally select engine opening book
  src/bin/player_vs_engine_game.rs
  src/engine/game.rs
  src/terminal/instructions.rs
  src/terminal/mod.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test

feat(engine): Allow player to optionally select engine opening book (#5)
  src/bin/player_vs_engine_game.rs
  src/engine/game.rs
  src/terminal/instructions.rs
  src/terminal/mod.rs
  src/terminal/settings.rs
Due: cargo-check, cargo-test

Notes added by 'git notes add'
  e20a62098ae7405e08ff69178ad2da2c1c368dc0
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

ci(issue-templates): Refactor the issue templates to be more concise
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
Due: none

ci(issue-templates): Refactor the issue templates to be more concise (#6)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
Due: none

feat(releases): Update release workflow to bump Cargo version
  .github/workflows/release.yml
  Cargo.toml
  LICENSE
  src/bin/player_vs_engine_game.rs
Due: cargo-check, cargo-test, cargo-audit

feat(releases): Update release workflow to bump Cargo version (#8)
  .github/workflows/release.yml
  Cargo.toml
  LICENSE
  src/bin/player_vs_engine_game.rs
Due: cargo-check, cargo-test, cargo-audit

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2b95d651607e8373ff287543ae5f506aee03552f
Due: none

feat(releases): Upload binaries necessary for distribution with each release
  .github/workflows/upload_binaries.yml
  .gitignore
Due: none

feat(releases): Upload binaries necessary for distribution with each release (#9)
  .github/workflows/upload_binaries.yml
  .gitignore
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  92d5cb12b627f5f201f629e665947ced19347d2b
Due: none
