Repository jwallace145/rusty-chess: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for rusty-chess
# See https://pre-commit.com for more information

repos:
  # Rust formatting
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Format code with rustfmt
      - id: fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        args: ['--all', '--', '--check']

      # Lint with clippy
      - id: clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

  # Additional Rust checks using local hooks
  - repo: local
    hooks:
      # Run cargo check for compilation errors
      - id: cargo-check
        name: cargo check
        description: Check Rust code compiles
        entry: cargo check
        language: system
        pass_filenames: false
        files: \.rs$

      # Run unit tests
      - id: cargo-test
        name: cargo test
        description: Run Rust unit tests
        entry: cargo test
        language: system
        pass_filenames: false
        files: \.rs$

      # Check for security vulnerabilities in dependencies
      - id: cargo-audit
        name: cargo audit
        description: Check for known security vulnerabilities
        entry: bash -c 'cargo audit 2>/dev/null || true'
        language: system
        pass_filenames: false
        files: Cargo\.(toml|lock)$
        stages: [commit]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Prevent committing large files
      - id: check-added-large-files
        args:
          - '--maxkb=500'

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check YAML syntax
      - id: check-yaml

      # Check TOML syntax (for Cargo.toml)
      - id: check-toml

      # Trim trailing whitespace
      - id: trailing-whitespace
        args:
          - '--markdown-linebreak-ext=md'

      # Ensure files end with newline
      - id: end-of-file-fixer

      # Check for files that would conflict on case-insensitive filesystems
      - id: check-case-conflict

# Configuration
default_stages: [commit]
fail_fast: false

feat: add chess board evaluation
  src/eval/evaluator.rs
  src/eval/mod.rs
  src/lib.rs
Due: cargo-check, cargo-test

feat: add minimax algorithm to find next best move
  src/lib.rs
  src/search/minimax.rs
  src/search/mod.rs
Due: cargo-check, cargo-test

feat: add play against ai cli game
  src/bin/ai_game.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: add zobrist hashing and transposition table
  Cargo.lock
  Cargo.toml
  src/bin/ai_game.rs
  src/board/board.rs
  src/search/minimax.rs
  src/search/mod.rs
  src/search/transposition_table.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add positional evaluation to board state evaluation logic
  src/eval/evaluator.rs
Due: cargo-check, cargo-test

docs: add documentation to structs
  .gitignore
  src/bin/ai_game.rs
  src/board/board.rs
  src/board/chess_move.rs
  src/eval/evaluator.rs
  src/main.rs
  src/search/engine.rs
  src/search/minimax.rs
  src/search/mod.rs
  src/search/transposition_table.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test

feat: add search history and repetition detection
  src/search/engine.rs
  src/search/history.rs
  src/search/minimax.rs
  src/search/mod.rs
Due: cargo-check, cargo-test

feat: add transposition table size in bytes to console output
  src/search/engine.rs
  src/search/minimax.rs
  src/search/transposition_table.rs
Due: cargo-check, cargo-test

feat: add most valuable victim and least valuable attacker move logic
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: add benchmark for profiling
  Cargo.toml
  benches/flamegraph.svg
  benches/profile.rs
Due: cargo-check, cargo-test, cargo-audit

refactor: separate material and position score logic from evaluator struct
  flamegraph.svg
  src/eval/evaluator.rs
  src/eval/material.rs
  src/eval/mod.rs
  src/eval/position.rs
Due: cargo-check, cargo-test

feat: add king endgame position table
  src/eval/material.rs
  src/eval/position.rs
Due: cargo-check, cargo-test

feat: update pawn and rook position tables
  src/eval/position.rs
Due: cargo-check, cargo-test

feat: add pawn structure evaluator
  src/eval/evaluator.rs
  src/eval/mod.rs
  src/eval/pawn_structure.rs
  src/eval/position.rs
  src/search/transposition_table.rs
Due: cargo-check, cargo-test

feat: add game metrics output file
  .gitignore
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/metrics/game_recorder.rs
  src/metrics/mod.rs
  src/metrics/output.rs
  src/search/engine.rs
  src/search/minimax.rs
  src/search/transposition_table.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add simple opening book
  Cargo.lock
  Cargo.toml
  flamegraph.svg
  opening_book.bin
  src/bin/test_engine_with_book.rs
  src/bin/test_opening_book.rs
  src/board/board.rs
  src/board/chess_move.rs
  src/lib.rs
  src/main.rs
  src/opening/mod.rs
  src/opening/opening_book.rs
  src/search/engine.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add resign and quit to player options
  src/main.rs
Due: cargo-check, cargo-test

feat: add quiescence search
  src/search/minimax.rs
  src/search/mod.rs
  src/search/quiescence.rs
Due: cargo-check, cargo-test

feat: add mobility and threatened piece evaluators
  Cargo.toml
  opening_book.bin
  src/bin/best_move.rs
  src/bin/opening_book.rs
  src/bin/terminal_gui.rs
  src/bin/test_engine_with_book.rs
  src/bin/test_opening_book.rs
  src/bin/uci.rs
  src/board/board.rs
  src/eval/evaluator.rs
  src/eval/mobility.rs
  src/eval/mod.rs
  src/eval/threatened.rs
  src/game.rs
  src/lib.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test, cargo-audit

feat: use moves buffer during move generation for performance
  benches/profile.rs
  src/board/board.rs
Due: cargo-check, cargo-test

feat: add performance improvements
  benches/profile.rs
  src/board/board.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: organize move generation logic
  benches/profile.rs
  src/board/board.rs
  src/board/mod.rs
  src/board/move_generator.rs
  src/game.rs
  src/main.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: add mobility evaluator
  src/board/mod.rs
  src/board/move_generator.rs
  src/eval/evaluator.rs
  src/eval/mobility.rs
  src/eval/mod.rs
Due: cargo-check, cargo-test

feat: add more tactical evaluation
  src/board/board.rs
  src/eval/bishop_pair.rs
  src/eval/central_control.rs
  src/eval/evaluator.rs
  src/eval/king_safety.rs
  src/eval/knight_outpost.rs
  src/eval/mobility.rs
  src/eval/mod.rs
  src/eval/rook_file_evaluator.rs
  src/eval/tempo.rs
Due: cargo-check, cargo-test

feat: refactor evaluators
  src/eval/bishop_pair.rs
  src/eval/central_control.rs
  src/eval/evaluator.rs
  src/eval/king_safety.rs
  src/eval/knight_outpost.rs
  src/eval/material.rs
  src/eval/mobility.rs
  src/eval/pawn_structure.rs
  src/eval/position.rs
  src/eval/rook_file_evaluator.rs
  src/eval/tempo.rs
  src/search/engine.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: add bit board
  src/board/board2.rs
  src/board/castling.rs
  src/board/mod.rs
Due: cargo-check, cargo-test

feat: generate magic numbers
  Cargo.toml
  src/bin/find_magic_numbers.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add bit board refactor
  Cargo.lock
  Cargo.toml
  attack_tables.bin
  src/attack_tables/attacks.rs
  src/attack_tables/magic.rs
  src/attack_tables/mod.rs
  src/attack_tables/tables.rs
  src/bin/create_attack_tables.rs
  src/bin/create_knight_king_attack_tables.rs
  src/bin/find_magic_numbers.rs
  src/bin/generate_mask.rs
  src/bin/playground.rs
  src/board/board2.rs
  src/board/mod.rs
  src/board/move_generator2.rs
  src/generated_masks.rs
  src/lib.rs
Due: cargo-check, cargo-test, cargo-audit

feat: add magic numbers
  Cargo.toml
  attack_tables.bin
  src/attack_tables/README.md
  src/attack_tables/magic.rs
  src/attack_tables/tables.rs
  src/bin/calculate_relevant_bits.rs
  src/bin/create_attack_tables.rs
  src/bin/find_magic_numbers.rs
  src/bin/two_player_chess.rs
  src/board/board2.rs
  src/board/mod.rs
  src/eval/bishop_pair.rs
  src/eval/central_control.rs
  src/eval/evaluator.rs
  src/eval/king_safety.rs
  src/eval/knight_outpost.rs
  src/eval/material.rs
  src/eval/mobility.rs
  src/eval/pawn_structure.rs
  src/eval/position.rs
  src/eval/rook_file_evaluator.rs
  src/eval/tempo.rs
  src/game.rs
  src/generated_masks.rs
  src/search/engine.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test, cargo-audit

feat: organize attacks database
  src/attack_tables/magic.rs
  src/attack_tables/mod.rs
  src/attacks/README.md
  src/attacks/database.rs
  src/attacks/kings.rs
  src/attacks/knights.rs
  src/attacks/magics.rs
  src/attacks/masks.rs
  src/attacks/mod.rs
  src/attacks/pawns.rs
  src/attacks/relevant_bits.rs
  src/board/board2.rs
  src/lib.rs
Due: cargo-check, cargo-test

fix: update failing minimax unit tests
  src/attacks/README.md
  src/board/board2.rs
  src/search/minimax.rs
  src/search/mod.rs
  src/search/zobrist.rs
Due: cargo-check, cargo-test

feat: update generate legal moves benchmark
  Cargo.toml
  benches/flamegraph.svg
  benches/profile.rs
  src/bin/test_engine_with_book.rs
  src/board/board2.rs
  src/board/move_generator2.rs
  src/main.rs
  src/search/engine.rs
Due: cargo-check, cargo-test, cargo-audit

feat: update opening book
  opening_book.bin
  src/bin/test_opening_book.rs
  src/board/board.rs
  src/board/board2.rs
  src/board/chess_move.rs
  src/opening/opening_book.rs
  src/search/minimax.rs
  src/search/transposition_table.rs
Due: cargo-check, cargo-test

feat: add basic threat evaluator
  src/board/board2.rs
  src/eval/evaluator.rs
  src/eval/mod.rs
  src/eval/threat.rs
Due: cargo-check, cargo-test

feat: add iterative deepening
  Cargo.toml
  src/board/board.rs
  src/board/board2.rs
  src/board/mod.rs
  src/board/move_generator.rs
  src/lib.rs
  src/main.rs
  src/search/engine.rs
  src/search/minimax.rs
  src/search/mod.rs
  src/search/zobrist.rs
  src/transpositions/default.rs
  src/transpositions/entry.rs
  src/transpositions/mod.rs
  src/transpositions/table.rs
Due: cargo-check, cargo-test, cargo-audit

feat: organize move generation logic
  benches/profile.rs
  src/board/board2.rs
  src/board/mod.rs
  src/game.rs
  src/lib.rs
  src/main.rs
  src/movegen/generator.rs
  src/movegen/mod.rs
  src/search/minimax.rs
Due: cargo-check, cargo-test

feat: improve move ordering during search
  src/search/minimax.rs
  src/transpositions/entry.rs
  src/transpositions/mod.rs
  src/transpositions/table.rs
Due: cargo-check, cargo-test

fix: pawns promote after complete advance
  src/main.rs
  src/movegen/generator.rs
Due: cargo-check, cargo-test

feat: add pull request and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add board utils module
  src/board/board2.rs
  src/board/mod.rs
  src/board/utils.rs
Due: cargo-check, cargo-test
